<!DOCTYPE html>
<meta charset="utf-8">
<style>
  text {
    font: 10px sans-serif;
  }
</style>
<head>
		<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
  		<script src="http://d3js.org/d3.v3.min.js"></script>
     	<script type="text/javascript" src="js/colorbrewer.js"></script>
     	
  		<script type="text/javascript" href="./js/bootstrap.min.js"></script>
       	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
     	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
     	<link rel="stylesheet" type="text/css" href="css/colorbrewer.css"></link>
</head>
<body id="page" class="container">
	<br>
	<div class="row">
		<h1 class="col-md-8">Status Cloud <small> Analyze your words!</small></h1>
		<div class="col-md-2">
            <a class="btn" href="/auth/facebook">Login with Facebook </a>
		</div>
		<div class="col-md-2"> <a class="btn" href="/auth/twitter">Login with Twitter</a>
		</div>
	</div>
	<textarea type="text" data-bind="value : words" class="form-control"></textarea>
	<br>

	<div class="row">
		<div class="col-md-6">
			<div id="graph"></div>
			<div id="piechart" hidden></div>
			<script type="text/javascript" src="js/pie-chart.js"></script>
  			<script src="js/graph.js"></script>
		</div>
		<div class="col-md-6">
			<!-- ko if:currentPoint().size-->
			<ul class="list-group">
 		 		<li class="list-group-item">
 		 			<div class="progress">
  					<div class="progress-bar" data-bind="text : percentage, style : {width : percentage}" role="progressbar">
  						</div>
					</div>
    				<span class="badge" data-bind="text:currentPoint().size + ' likes/comments'"></span>
    				<div class="progress">
  						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    						60%
  						</div>
					</div>
    				<div data-bind="text:currentPoint().name"></div>
  
			</ul>
			<!-- /ko -->
			<div  data-bind="foreach:currentPoint().pop">
  				<div data-bind="text:$data" class="well">
  				</div>
			</div>
		</div>
	</div>
</body>