<!DOCTYPE html>
<meta charset="utf-8">
<style>
  text {
    font: 10px sans-serif;
  }
 path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
</style>
<head>
	<title>Freq Cloud</title>	
	<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
 	<script type="text/javascript" src="/js/colorbrewer.js"></script>
 	
		<script type="text/javascript" href="/js/bootstrap.min.js"></script>
   	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
 	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
 	<link rel="stylesheet" type="text/css" href="/css/colorbrewer.css"></link>
</head>
<body id="page" class="container">
	<br>
	<div class="row">
		<h1 class="col-md-8">Freq Cloud <small> Analyze your words!</small></h1>
		<div class="col-md-2">
            <a class="btn btn-info" href="/auth/facebook">Login with Facebook </a>
		</div>
		</div>
	</div>
	<div class="alert alert-info">In order to use this app, you need to log in on Facebook. Afterwards,
		type in your list of words to search separated by commas (e.g. a,an,email,etc) and click the search
		button. A cluster of circles will appear, where the size represents how many likes/comments it has and the color how often it has occurred. Click the circle to get more information about 
		likes/comments. You can click on the graphs to switch displays.</div>
	<textarea type="text" data-bind="value : words" class="form-control"></textarea>
	<button class="btn"> Search </button>
	<br>

	<div class="row">
		<div class="col-md-6">
			<div id="graph"></div>
			<div id="piechart" hidden></div>
			<script type="text/javascript" src="/js/pie-chart.js"></script>
  			<script src="/js/graph.js"></script>
		</div>
		<div class="col-md-6">
			<!-- ko if:currentPoint().size-->
			<div class="progress">
  				<div class="progress-bar" data-bind="progress : percentage" role="progressbar"></div>
			</div>
			<ul class="list-group">
 		 		<li class="list-group-item">
    				<span class="badge" data-bind="text:currentPoint().likes + ' likes/'+ currentPoint().comments+' comments'"></span>
    				<div data-bind="text:currentPoint().name"></div>
  
			</ul>
			<!-- /ko -->
			<div  data-bind="foreach:currentPoint().pop">
  				<div data-bind="text:$data" class="well">
  				</div>
			</div>
		</div>
	</div>
</body>